.choose__container {
    max-width: 1800px;
    margin: auto;
    background-color: #f9fbfc;
    border-radius: 16px;
    padding-block: 115px;
}
.choose__container h2 {
    font-size: var(--fs__h2);
    font-weight: 700;
    text-align: center;
    color: var(--font__color);
    margin-bottom: 45px;
}
.servise__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 46px;
}
.servise__box img {
    display: block;
    margin-bottom: 20px;
}
.servise__box h4 {
    font-size: var(--fs__h4);
    font-weight: 500;
    color: var(--font__color);
    margin-bottom: 14px;
    line-height: 1.2;
}
.servise__box p {
    font-size: var(--fs__a);
    line-height: 1.8;
    font-weight: 400;
    color: var(--font__color);
}